@import "tailwindcss";

@keyframes borderMove {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: red;
  }
}

.animated-border {
  animation: borderMove 2s linear infinite;
}

